* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faqs {
  width: 100%;
  object-fit: contain;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: #ffffff;
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 30px;
  height: 100%;
  background-color: #f9f9fa;
  padding-left: 80px;
  color: #0d2130;

  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.faqs .faq .faq-answer {
  opacity: 0;
  font-size: 18px;
  max-height: 0;
  object-fit: contain;
  color: #b8b8b8;
  overflow-y: hidden;
  transition: all 0.4s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
